
@import "tailwindcss";
@plugin "daisyui";

/* #root{
    padding: 0px !important;
    max-width: 100% !important;
    text-align: left !important;
} */
@layer components{
  

    .align-element{


        @apply mx-auto max-w-6xl px-8;
    }
    .navlinks{
        @apply hover:bg-secondary hover:text-white rounded ;
    }
    .navlinks .active{
        @apply bg-secondary text-white;
    }
}
